* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --accent-color: crimson;
  
}

[data-theme="dark"] {
  --bg-color: #202124;
  --text-color: #eee;
  --contrast-color: #3b3641;
  --shadow-color: 255, 255, 255;
}

[data-theme="light"] {
  --background-color: #eee;
  --text-color: #111;
  --contrast-color: #eee;
  --shadow-color: 0, 0, 0;
}

body {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--accent-color);
  color: var(--contrast-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  display: flex;
}

header h1 {
  text-align: center;
  padding: 0.5rem;
  flex: 1 0 85%;
}

header .theme-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .theme-button span {
  font-size: 2rem;
  padding: 0.3rem;
  transition: all .5s ease;
}

header .theme-button span:hover {
  cursor: pointer;
}

.mobile-menu {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-menu ul {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);

  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.mobile-menu ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 2rem;
  color: var(--accent-color);
}

main {
  height: 2000px;
  /* background-color: darkorange; */
  /* padding-top: 10vh; */
  width: 90%;
  margin: 0 auto;
}
